body {
    background-color: rgb(39, 39, 39);
    text-align: center;
}
h1 {
    font-family: 'Instrument Serif', serif;
    color: rgb(10, 160, 10);
}
.capa-album{
    width:100%;
    max-width: 300px;
    height: auto;
}



label {
    font-family: 'Montserrat', sans-serif;
    color: #468bf1;            
    font-size: 14px;          
    font-weight: 500;          
    display: block;            
    margin-bottom: 1px;        
    cursor: pointer;          
}

 
button {
    width: 140px;          
    height: 48px;          
    border: none;
    border-radius: 6px;    
    font-size: 16px;
    font-weight: 600;      
    cursor: pointer;      
    background-color: #fffdfd;
    transition: background-color 0.2s;
}
 
input, select, textarea {
    width: 100%;              
    max-width: 400px;          
    padding: 12px;            
    box-sizing: border-box;    
    border-radius: 10px;  
}
 
button:hover {
    background-color: #00aa39;
}
 
.container-botoes {
    display: flex;         /* Mantém os botões lado a lado */
    justify-content: center; /* Centraliza a dupla de botões */
    gap: 50px;             /* Cria espaço entre o botão Salvar e Limpar */
    margin-top: 32px;      /* Aumente esse valor se quiser desgrudar ainda mais! */
    width: 100%;          
}

.letra-cor{
    color: #fdfdfd;
}